# Authentication Tokens
CIVITAI_TOKEN=""
HUGGINGFACE_TOKEN=""

# Base Comfyui Folder in which you can find custom_nodes, models, input, etc. 
COMFYUI_FOLDER_PATH="/workspace-example/pod-example/ComfyUI"

# Paths config
COMFYUI_PYTHON_PATH="${COMFYUI_FOLDER_PATH}/.venv-example/bin/python"

# SSH config to upload your downloader and configs to the relevant server/pod
SSH_HOST=xx.xx.xx.xx # Host Ip
SSH_PORT=xxxx        # Host port
SSH_USER=xxxxxx      # Host user